<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to image_tag("logo.png"), diaries_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">

        <% if logged_in? %>
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-lg btn-default">
              <%= link_to ' New ', new_diary_path %></button>
            
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-lg btn-info dropdown-toggle" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
              Menu <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li role="separator" class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: :delete %>
              </li>
            </ul>
          </div>
        <% else %>
          <li><button type="button" class="btn btn-default navbar-btn">
            <%= link_to "sign up", signup_path %></button></li>
        <% end %>
        </div>
      </ul>
    </nav>
  </div>
</header>